.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 1fr;
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

.sidebar {
    background-color: red;
    grid-row: 1 / 3; 
}

.header {
    background-color: blue;
}

.main {
    background-color: green;
}


.sidebar {
    background-color: #5f0742; 
    color: white;  
    padding: 20px;
    display:grid;
    grid-template-rows: auto 1fr auto;
    grid-template-rows: auto auto 1fr;
    gap: 30px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 10px;
    font-weight: bold;
}

.logo img {
    height: 40px;
    width: auto;
}

.nav-main ul, .nav-secondary ul {
    list-style: none;
    margin: 10px 0;
}

.nav-main li, .nav-secondary li {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.nav-main li:hover,.nav-secondary li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 10px;
    border-radius: 5px;
}